:root {
  --frame-radius: 300px;
  --sec-hand-w: 2px;
  --min-hand-w: 4px;
  --hour-hand-w: 6px;
  --center-unit: 20px;
}
* {
  box-sizing: border-box;
}
body {
  background: #d904a4;
  background: linear-gradient(
    125deg,
    rgba(217, 4, 164, 1) 0%,
    rgba(68, 0, 255, 1) 100%
  );
  margin: 0;
  padding: 0;
}
#wrapper {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#frame {
  position: relative;
  width: var(--frame-radius);
  height: var(--frame-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("./images/clock-bg.png") no-repeat center center;
}
#sec-hand {
  width: var(--sec-hand-w);
  height: calc(var(--frame-radius) / 2 - 30px);
  background-color: #c7027b;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: 50% 100%; /* pivot at bottom-center */
  transform: translate(-50%, -100%); /* position bottom at center */
}

#min-hand {
  width: var(--min-hand-w);
  height: calc(var(--frame-radius) / 2 - 45px);
  background-color: #770000;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: 50% 100%; /* pivot at bottom-center */
  transform: translate(-50%, -100%); /* position bottom at center */
}
#hour-hand {
  width: var(--hour-hand-w);
  height: calc(var(--frame-radius) / 2 - 60px);
  background-color: #303030;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: 50% 100%; /* pivot at bottom-center */
  transform: translate(-50%, -100%); /* position bottom at center */
}

#center {
  width: var(--center-unit);
  height: var(--center-unit);
  border-radius: 50%;
  background-color: #333;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
